USE [Shop_PhuocToan]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 09/14/25 17:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ParentId] [int] NULL,
	[Slug] [nvarchar](512) NULL,a
	[IsActive] [bit] NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Updated] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 09/14/25 17:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[Discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09/14/25 17:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[PostCode] [nvarchar](20) NULL,
	[Note] [nvarchar](200) NULL,
	[Language] [nvarchar](10) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [int] NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 09/14/25 17:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[AttributeName] [varchar](255) NULL,
	[AttributeValue] [nvarchar](max) NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Updated] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Deleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 09/14/25 17:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[IsMain] [bit] NOT NULL,
	[AltText] [nvarchar](255) NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Updated] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Deleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 09/14/25 17:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Slug] [nvarchar](512) NULL,
	[OriginalPrice] [decimal](15, 2) NULL,
	[Price] [decimal](15, 2) NULL,
	[DiscountPrice] [decimal](15, 2) NULL,
	[Discount] [float] NULL,
	[CategoryId] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Updated] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Deleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
	[IsContact] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStatus]    Script Date: 09/14/25 17:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 09/14/25 17:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NULL,
	[GuidId] [uniqueidentifier] NULL,
	[Code] [nvarchar](50) NULL,
	[UserName] [nvarchar](150) NULL,
	[FullName] [nvarchar](500) NULL,
	[UnitCode] [nvarchar](50) NULL,
	[UnitName] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[Activated] [datetime] NULL,
	[ActiveBy] [nvarchar](150) NULL,
	[Type] [int] NOT NULL,
	[Password] [nvarchar](250) NULL,
	[Avatar] [nvarchar](2250) NULL,
	[PermissionType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Code], [Name], [ParentId], [Slug], [IsActive], [Created], [CreatedBy], [Updated], [UpdatedBy]) VALUES (1, N'MEN_SNEAKERS', N'Giày Sneaker Nam', NULL, N'giay-sneaker-nam', 1, CAST(N'2025-09-08T21:54:36.313' AS DateTime), 1, CAST(N'2025-09-12T17:21:07.843' AS DateTime), NULL)
INSERT [dbo].[Categories] ([Id], [Code], [Name], [ParentId], [Slug], [IsActive], [Created], [CreatedBy], [Updated], [UpdatedBy]) VALUES (2, N'WOMEN_SNEAKERS', N'Giày Sneaker Nữ', NULL, N'giay-sneaker-nu', 1, CAST(N'2025-09-08T21:54:36.313' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Code], [Name], [ParentId], [Slug], [IsActive], [Created], [CreatedBy], [Updated], [UpdatedBy]) VALUES (3, N'RUNNING', N'Giày Chạy bộ', NULL, N'giay-chay-bo', 1, CAST(N'2025-09-08T21:54:36.313' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderCode], [CustomerName], [Phone], [Email], [Address], [PostCode], [Note], [Language], [CreateDate], [Status], [UpdateDate]) VALUES (1, N'ORD0001', N'Nguyễn Văn A', N'0900000001', N'a1@example.com', N'12 Nguyễn Trãi, Q1, TP.HCM', N'700000', NULL, N'vi', CAST(N'2025-09-07T21:50:52.063' AS DateTime), 1, CAST(N'2025-09-07T21:50:52.063' AS DateTime))
INSERT [dbo].[Orders] ([Id], [OrderCode], [CustomerName], [Phone], [Email], [Address], [PostCode], [Note], [Language], [CreateDate], [Status], [UpdateDate]) VALUES (2, N'ORD0002', N'Trần Thị B', N'0900000002', N'b2@example.com', N'34 Lý Thường Kiệt, Q10, TP.HCM', N'700000', NULL, N'vi', CAST(N'2025-09-06T21:50:52.063' AS DateTime), 1, CAST(N'2025-09-06T21:50:52.063' AS DateTime))
INSERT [dbo].[Orders] ([Id], [OrderCode], [CustomerName], [Phone], [Email], [Address], [PostCode], [Note], [Language], [CreateDate], [Status], [UpdateDate]) VALUES (3, N'ORD0003', N'Lê Văn C', N'0900000003', N'c3@example.com', N'56 Hai Bà Trưng, Q1, TP.HCM', N'700000', NULL, N'vi', CAST(N'2025-09-05T21:50:52.063' AS DateTime), 1, CAST(N'2025-09-05T21:50:52.063' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttributes] ON 

INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeName], [AttributeValue], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy]) VALUES (1, 2, N'Size', N'39-44', CAST(N'2025-09-08T21:54:36.367' AS DateTime), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeName], [AttributeValue], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy]) VALUES (2, 3, N'Size', N'39-44', CAST(N'2025-09-08T21:54:36.367' AS DateTime), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeName], [AttributeValue], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy]) VALUES (3, 4, N'Size', N'39-44', CAST(N'2025-09-08T21:54:36.367' AS DateTime), 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageURL], [IsMain], [AltText], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy]) VALUES (35, 32, N'/Uploads/Products/32/20250912165026588_6cec6fa770d5461999b3e86546156a49.jpeg', 0, NULL, CAST(N'2025-09-12T16:50:26.590' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageURL], [IsMain], [AltText], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy]) VALUES (36, 32, N'/Uploads/Products/32/20250912165034102_526cb5ae489845188aabf5e01f25f4fd.jpg', 1, NULL, CAST(N'2025-09-12T16:50:34.113' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageURL], [IsMain], [AltText], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy]) VALUES (37, 32, N'/Uploads/Products/32/20250912165040292_54c785d48cfb4e4c8cd814d5ef28a167.jpg', 0, NULL, CAST(N'2025-09-12T16:50:40.300' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductCode], [Name], [Description], [Slug], [OriginalPrice], [Price], [DiscountPrice], [Discount], [CategoryId], [Note], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy], [Status], [IsDeleted], [IsContact]) VALUES (2, N'SH0001', N'Sneaker Alpha Nam', NULL, N'sneaker-alpha-nam', CAST(1599000.00 AS Decimal(15, 2)), CAST(1299000.00 AS Decimal(15, 2)), NULL, 0, 1, NULL, CAST(N'2025-09-05T21:54:36.343' AS DateTime), 1, NULL, NULL, NULL, NULL, 5, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductCode], [Name], [Description], [Slug], [OriginalPrice], [Price], [DiscountPrice], [Discount], [CategoryId], [Note], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy], [Status], [IsDeleted], [IsContact]) VALUES (3, N'SH0002', N'Sneaker Beta Nam', NULL, N'sneaker-beta-nam', CAST(1799000.00 AS Decimal(15, 2)), CAST(1499000.00 AS Decimal(15, 2)), NULL, 5, 1, NULL, CAST(N'2025-08-12T21:54:36.343' AS DateTime), 1, NULL, NULL, NULL, NULL, 5, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductCode], [Name], [Description], [Slug], [OriginalPrice], [Price], [DiscountPrice], [Discount], [CategoryId], [Note], [Created], [CreatedBy], [Updated], [UpdatedBy], [Deleted], [DeletedBy], [Status], [IsDeleted], [IsContact]) VALUES (4, N'SH0003', N'Sneaker Gamma Nam', NULL, N'sneaker-gamma-nam', CAST(1999000.00 AS Decimal(15, 2)), CAST(1699000.00 AS Decimal(15, 2)), NULL, 10, 1, NULL, CAST(N'2025-09-07T21:54:36.343' AS DateTime), 1, NULL, NULL, NULL, NULL, 5, 0, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStatus] ON 

INSERT [dbo].[ProductStatus] ([Id], [Name]) VALUES (5, N'Available')
INSERT [dbo].[ProductStatus] ([Id], [Name]) VALUES (6, N'OutOfStock')
INSERT [dbo].[ProductStatus] ([Id], [Name]) VALUES (7, N'Discontinued')
SET IDENTITY_INSERT [dbo].[ProductStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [StaffId], [GuidId], [Code], [UserName], [FullName], [UnitCode], [UnitName], [IsActive], [Activated], [ActiveBy], [Type], [Password], [Avatar], [PermissionType]) VALUES (1, NULL, N'fc207e9f-0325-45ba-a2f1-8cb0eb734e48', N'ADMIN', N'admin', N'Quản trị viên', NULL, NULL, 1, CAST(N'2025-09-08T21:54:33.793' AS DateTime), N'system', 1, N'admin@123', NULL, N'admin')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__999B5229C7B09E3F]    Script Date: 09/14/25 17:39:48 ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__2F4E024F84CBC2A4]    Script Date: 09/14/25 17:39:48 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF_ProductImages_IsMain]  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Type]  DEFAULT ((1)) FOR [Type]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_CreatedBy]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_UpdatedBy]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributes_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductAttributes_CreatedBy]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributes_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductAttributes_DeletedBy]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributes_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductAttributes_Products]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributes_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductAttributes_UpdatedBy]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_CreatedBy]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_DeletedBy]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_UpdatedBy]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CreatedBy]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_DeletedBy]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[ProductStatus] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductStatus]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_UpdatedBy]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetails_Price_NonNegative] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CK_OrderDetails_Price_NonNegative]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetails_Quantity_Positive] CHECK  (([Quantity]>=(1)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CK_OrderDetails_Quantity_Positive]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_Prices_NonNegative] CHECK  ((([OriginalPrice] IS NULL OR [OriginalPrice]>=(0)) AND ([Price] IS NULL OR [Price]>=(0)) AND ([DiscountPrice] IS NULL OR [DiscountPrice]>=(0)) AND ([Discount] IS NULL OR [Discount]>=(0))))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_Prices_NonNegative]
GO
